.top-container {
  background-color: #E4F9F5;
  padding: 20px;
  position: relative;
  padding-top: 100px;
}

body {
  margin: 0;
  text-align: center;
  color: #40514E;
}

h1 {
  font-size: 5.625rem;
  margin-top: 3.125rem auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
  line-height: 4px;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  color: #11999E;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.computer {
  width: 25%;
  border-radius: 50%;
  float: left;
  margin-right: 30px;
}

.guitar {
  width: 25%;
  border-radius: 50%;
  float: right;
  margin-left: 30px;
}

.btn {
  color: #11999E;
}

.footer-link {
  color: #11999E;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.skill-row-guitar{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: right;
  line-height: 2;
}
.me{
  border-radius: 50%;
}
